@tailwind base;
@tailwind components;
@tailwind utilities;
.ant-input-number-focused {
  border-color: #14b8a6;
}

/* media query max-width: 640px and below all breakpoints */
@media (max-width: 700px) {
  .calendar_player_section {
    display: flex;
    flex-direction: column;
  }
  .calendar_section {
    width: 100%;
  }
  .todo_section {
    width: 100%;
  }
  .pomodora_section {
    width: 100%;
  }
  .calendar_body {
    justify-content: center;
  }
}

@media (max-width: 420px) {
  .date_sidebar {
    display: none;
  }
}
